{
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}