---
import MainLayout from "../layouts/MainLayout.astro";
import ContentBox from "./components/ContentBox.astro";
import Navfoot from "./components/Navfoot.astro";
import Footer from "./components/Footer.astro";
import Announcement from "./components/Announcement.astro";

import { Image } from "astro:assets";
import imgLine from "../assets/contact-line.webp";
---

<MainLayout title="ติดต่อทีมงาน  ดูแลตลอด 24 ชม. พร้อมช่วยทุกขั้นตอน" , description="ติดต่อทีมงาน  ดูแลตลอด 24 ชม. พร้อมช่วยทุกขั้นตอน">
  <Announcement />

  <ContentBox title="ติดต่อทีมงาน  ดูแลตลอด 24 ชม. พร้อมช่วยทุกขั้นตอน">
    <Image
      src={imgLine}
      alt="Pigauto"
      loading="lazy"
      fetchpriority="low"
      widths={[200, 400, 600]}
      sizes="(max-width: 768px) 100vw"
      class="mx-auto h-auto w-full max-w-[400px] object-contain shadow-xl"
      decoding="async"
      format="avif"
    />
    <p class="my-5 mb-8 text-gray-200">ติดต่อทีมงาน ดูแลตลอด 24 ชม. พร้อมช่วยทุกขั้นตอน ติดต่อทีมงาน ดูแลตลอด 24 ชม. พร้อมช่วยทุกขั้นตอน</p>
    <div class="flex flex-wrap justify-center gap-4">
      <a
        href="/signup"
        aria-label="สมัครสมาชิก"
        class="flex items-center justify-center rounded-lg border border-gray-400 bg-gradient-to-b from-gray-600 to-black px-8 py-3 font-bold text-white transition-transform hover:scale-105">
        สมัครสมาชิก
      </a>

      <a
        href="/signup"
        aria-label="เข้าเล่นเกม"
        class="flex items-center justify-center rounded-lg border border-yellow-600 bg-gradient-to-b from-yellow-200 to-yellow-500 px-8 py-3 font-extrabold text-black shadow-[0_0_15px_rgba(255,215,0,0.4)] transition-transform hover:scale-105">
        เข้าเล่นเกม
      </a>

      <a
        href="/line"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="ติดต่อเราผ่าน Line"
        class="flex items-center justify-center rounded-lg border border-green-300 bg-gradient-to-b from-green-400 to-green-700 px-8 py-3 font-bold text-white transition-transform hover:scale-105">
        ติดต่อเรา
      </a>
    </div>
  </ContentBox>
  <Footer />
  <Navfoot />
</MainLayout>
